.not-found {
  height: 80vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.navigation-links button{
    margin-right: 20px;
}


@media only screen and (max-width: 480px) {
  .navigation-links button{
    margin-right: 5px;
}
}